.slider {
    background-color: rgb(209, 223, 218);
    width: 100%;
    height: 400px;
    display: flex;
}

.listaDeEventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.masEventos {
    margin-top: 2%;
    width: 60%;
}
/*----------------------*/
.title-home {
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    margin-top: 0;
}
.destacado {
    display: flex;
    justify-content: center;
}
