:root {
  --input: 1.3px solid #8f8f8f;
  --inputClick: 2px solid var(--orange);
}

.crearEV_Container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.titulo > h2 {
  padding-bottom: 10%;
  justify-self: flex-end;
}

.contend {
  display: flex;
  height: 800px;
  width: 100%;
  background: #ffff;
  border-radius: 20px;
  padding: 3% 1.5%;
  min-width: 670px;
  justify-content: center;
  align-items: center;
  font-family: var(--font); /*agregue lineas aquí*/
}
.contenedor-inputs input {
  /*agregue lineas aquí*/
  padding: 4px 11px;
  border: var(--input);
  border-radius: 4px;
  outline: 0 none;
  width: 184px;
  height: 30px;
}

.spin {
  width: 80%;
  height: 90%;
}

.cont-Inputs {
  height: 100%;
}

.contenedor-inputs input:focus {
  /*agregue lineas aquí*/
  border: var(--inputClick);
}
.form-eventos {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.input-title {
  width: 361px;
  height: 58px;
  padding-left: 15px;
  font-size: 24px;
  margin-bottom: 2%;
  margin-left: 17px;
  border: var(--input);
  border-radius: 6px;
  font-weight: 600;
  outline: 0 none;
}
.input-title:focus {
  /*agregue lineas aquí*/
  border: var(--inputClick);
}
.errorTitle {
  margin-left: 1%;
}

.event-hr {
  background: var(--green);
  border: var(--green) solid 2.2px;
  border-radius: 10px;
  width: 100%;
}

.cont-options {
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 2% 2% 0 2%;
  height: 480px;
}

.cont-options-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*.input-img {
    margin-top: 2%;
    width: 100%;
    align-self: flex-end;
    color: var(--black);
    font-size: 12px;
    font-weight: 600;
  }
  */

.input-img {
  display: none;
}
.custom-file-upload {
  margin-top: 0.5%;
  border-radius: 4px;
  color: #3b424894;
  border: 1px solid #ccc;
  border-top: none;
  font-weight: 600;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.6s;
}

.custom-file-upload:hover {
  border-color: #9ede7379;
  color: #3b4248c5;
  background-color: #9ede7342;
}
.cont-button {
  margin-top: 3.5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.ant-image-img {
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}

.cont-img {
  height: 300px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}

.options-right {
  margin-left: 3.5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.options-right-h3 {
  display: flex;
  justify-content: space-between;
}

.contenedorDate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-date > h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.right-inputs {
  width: 100%;
  height: 100%;
}
.right-inputs > h3 {
  margin: 0;
}

.input-date {
  width: 20%;
}

.date-pick {
  width: 20%;
  justify-self: center;
  align-self: center;
}

.fecha {
  width: 85%;
}

.anticon-calendar {
  color: rgba(99, 92, 92, 0.788);
}
.ant-picker-input > input::placeholder {
  color: rgba(99, 92, 92, 0.616);
  font-weight: 600;
}

.ant-picker-input > input {
  color: rgba(99, 92, 92, 0.521);
  font-weight: 600;
}

.fecha {
  margin-bottom: 4%;
}

.input-textarea {
  width: 96%;
  height: 100%;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.548);
  color: rgba(0, 0, 0, 0.651);
  border: var(--input); /*Hize un cambio aquí*/
  border-radius: 6px;
  outline: 0 none;
  padding: 4px 11px;
}

.input-textarea:focus {
  border: var(--inputClick);
}

.input-textarea::placeholder {
  font-size: 18px;
  font-weight: 600;
}
.contenedor-inputs {
  width: 100%;
  height: 93%;
  display: grid;
  grid-template-rows: 82% 18%;
  padding-left: 15px;
}
.contenedor-inputs label {
  padding-left: 5px;
}
.contenedor-inputs label:first-child {
  margin-top: 0;
}

.inputs-info {
  height: 80%;
  font-weight: bolder;
  color: var(--gray);
  width: 100%;
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.inputs-info-right {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.inputs-info-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 15px;
}
.inputs-Eventos {
  margin-bottom: 1.1%;
  width: 85%;
  color: rgba(0, 0, 0, 0.651);
  font-weight: 600;
}

.button-crearEv {
  font-family: var(--font);
  height: 50px;
  width: 150px;
  background: var(--gradient-two);
  border: transparent;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.6s;
  color: var(--gray);
}

.button-crearEv:hover {
  background: var(--gradient-two);
  color: var(--gray);
  transform: scale(1.05);
}

.spanError {
  color: rgba(230, 30, 30, 0.808);
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
}
