.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.header {
  width: 100%;
  height: 80px;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 275ms ease;
}
.login-header:hover {
  background-color: var(--gray);
}
.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}
.menu-header .option-menu {
  margin: 0 2% 0 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url('/fd.png');
}

.app-logo {
  margin: auto;
  display: flex;
}

.logo-title {
  font-size: 2em;
  margin: auto;
  font-weight: 700;
  /*----*/
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.logo-title:hover {
  background-position: 0 100%;
  /* background: linear-gradient(142deg, rgba(158,222,115,1) 0%, rgba(247,234,0,1) 50%, rgba(228,137,0,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    transition: color .5s; */
}

.option-menu {
  color: var(--midGray);
  font-weight: 700;
  font-size: 1.5em;
}
.option-menu:hover {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--midGray);
}
.footer {
  width: 100%;
  height: 100px;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  color: var(--midGray);
  font-weight: 600;
  font-size: 14px;
}

.redesS-footer div {
  display: flex;
  justify-content: space-between;
}
.footer p {
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 1%;
  }
  .logo-title {
    font-size: 18px;
  }
  .option-menu {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .header {
    padding: 0 0;
  }
  .logo-title {
    font-size: 12px;
  }
  .option-menu {
    font-size: 10px;
  }
}