.eventoCardLeyenda{
    display: flex;
    color: #2F353A;
    font-family: 'Libre Franklin';
    flex-wrap: wrap;
}

.eventoCardFecha {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px 0; 
   height: 95px;
}

.eventoCardFecha div:first-child {
    font-size: 1.3rem;
    font-weight: 700;
    height: 25px;
}
.eventoCardFecha div:last-child {
    font-weight: 600;
    font-size: 0.8rem;
}
.eventoCardDescripcion {
    font-size: 0.7rem;
    font-weight: 600;
    padding-left: 5px;
    flex: 1 1;
    margin-top: 10px;
}