.eventoCardLeyenda{
    display: flex;
    color: #2F353A;
    font-family: 'Libre Franklin';
}

.eventoCardFecha {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px 0; 
   height: 100px;
}

.eventoCardFecha div:first-child {
    font-size: 1.3rem;
    font-weight: 700;
    height: 25px;
}
.eventoCardFecha div:last-child {
    font-weight: 600;
    font-size: 0.8rem;
}
.eventoCardDescripcion {
    font-size: 0.7rem;
    font-weight: 600;
    padding-left: 5px;
    flex: auto ;
    margin-top: 10px;
}
.eventoCard {
    margin: 10px;
    height: 350px;
    width: 200px;
}

.listEventos {
  display: block;
  padding-top: 40px;
}

.list{
    height: 600px;
    background: inherit;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.carruselHeader {
    display: flex;
    justify-content: space-around;
    padding: 0 160px;
}

.carruselHeader h1 {
    margin: 0;
}